
body{
    height: 100vh;
    background: linear-gradient(150deg, rgb(15, 248, 159) 0%, rgb(29, 67, 77) 100%);
    font-family: "Roboto",  sans-serif;
    justify-content: center;   
}
.post-wrapper{
    background: rgb(238, 229, 229);
    width: 30rem;
    height: auto;
    border-radius: 1%;
    padding: 0.1rem; 
    overflow: hidden;
}
body, .post-header, .post-iconsHeader, .post-iconsBody{
    display: flex;
    align-items:center;
}
.post-header, .post-iconsHeader{
    gap: 0.5rem;
}
.post-header, .post-iconsBody{
    padding: 0.3rem 1rem;
} 
.post-header{
    justify-content: space-between;
}
.post-iconsHeader, .post-menu, .post-iconsBody{
    font-size: 2.5rem;  
}
.post-span, .post-pets{
    font-size: 1rem;
}
.post-img-wrapper, .post-img {
    width:100%; 
}
.post-img{
    height: 26rem;   
     
} 
.post-iconsBody{
   list-style: none;
   gap: 1.3rem;
}        
.last-li{
    margin-left: auto;
    padding-right: 1rem;
}
.post-petas-wrapper, .post-pets{
    margin: 0 0.5rem;
    text-align: justify;
}
